{"openapi":"3.1.0","info":{"title":"Smithery Registry API","description":"Smithery API for managing servers, profiles, and configurations","version":"1.0.0"},"servers":[{"url":"https://registry.smithery.ai","description":"Production API"}],"tags":[{"name":"servers","description":"Registry endpoints for listing and configuring servers"},{"name":"config","description":"Endpoints for reading and writing user configurations"},{"name":"uplink","description":"Endpoints for managing uplink tokens"},{"name":"profiles","description":"Endpoints for listing profiles and their servers"}],"paths":{"/health":{"get":{"responses":{"200":{"description":"Service is healthy","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Health"}}}}},"operationId":"getHealth","parameters":[],"summary":"Health check","description":"Check if the service is running"}},"/servers":{"get":{"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServersListResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"operationId":"getServers","tags":["servers"],"parameters":[{"in":"query","name":"page","schema":{"type":"integer","minimum":1,"example":1}},{"in":"query","name":"pageSize","schema":{"type":"integer","minimum":1,"maximum":100,"example":10}},{"in":"query","name":"q","schema":{"type":"string","example":"search term"}},{"in":"query","name":"profile","schema":{"type":"string","example":"my-profile"}}],"summary":"List all servers","description":"Get a paginated list of all servers"}},"/servers/{id}":{"get":{"responses":{"200":{"description":"Server found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Server"}}}},"404":{"description":"Server not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"operationId":"getServersById","tags":["servers"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"summary":"Get a server by ID","description":"Get a single server by its qualified name or ID"},"post":{"responses":{"200":{"description":"Configuration generated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Server or connection not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"operationId":"postServersById","tags":["servers"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"summary":"Generate server configuration","description":"Generate configuration for instantiating a server connection","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigRequest"}}}}}},"/config/status/{id}":{"get":{"responses":{"200":{"description":"Configuration validation result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigValidationResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Server not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"operationId":"getConfigStatusById","tags":["config"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"summary":"Get configuration status","description":"Check if user has all required configuration fields for a server without exposing actual values. Optionally specify profile with ?profile=qualified-name query parameter."}},"/config/{id}":{"get":{"responses":{"200":{"description":"Configuration retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUserConfigResponse"}}}},"401":{"description":"Unauthorized - API key required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Server not found or no saved configuration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"operationId":"getConfigById","tags":["config"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"summary":"Get saved user configuration for a server","description":"Retrieve the saved user configuration for a specific server. Optionally specify profile with ?profile=qualified-name query parameter."},"put":{"responses":{"200":{"description":"Configuration saved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveUserConfigResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - API key required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Server not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"operationId":"putConfigById","tags":["config"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"summary":"Save user configuration for a server","description":"Save user configuration for a specific server to be used in future connections. Optionally specify profile with ?profile=qualified-name query parameter.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveUserConfigRequest"}}}}}},"/uplink/token":{"post":{"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UplinkTokenResponse"}}}},"401":{"description":"Unauthorized - Missing API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UplinkError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UplinkError"}}}}},"operationId":"postUplinkToken","tags":["uplink"],"parameters":[],"summary":"Create uplink token","description":"Create or retrieve an authtoken for uplink connections"}},"/profiles":{"get":{"responses":{"200":{"description":"Profiles for the authenticated user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfilesResponse"}}}}},"operationId":"getProfiles","parameters":[{"in":"query","name":"page","schema":{"type":"integer","minimum":1,"example":1}},{"in":"query","name":"pageSize","schema":{"type":"integer","minimum":1,"maximum":50,"example":10}}],"summary":"List user profiles"}},"/profiles/{slug}/servers":{"get":{"responses":{"200":{"description":"Servers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileServersResponse"}}}}},"operationId":"getProfilesBySlugServers","parameters":[{"in":"query","name":"page","schema":{"type":"integer","minimum":1,"example":1}},{"in":"query","name":"pageSize","schema":{"type":"integer","minimum":1,"maximum":50,"example":10}},{"in":"path","name":"slug","schema":{"type":"string"},"required":true}],"summary":"List MCP servers for a profile"},"post":{"responses":{"201":{"description":"Server created","content":{"application/json":{"schema":{"type":"object","properties":{"slug":{"type":"string"},"displayName":{"type":"string"},"mcpUrl":{"type":"string"},"description":{"type":["string","null"]}},"required":["slug","displayName","mcpUrl","description"]}}}}},"operationId":"postProfilesBySlugServers","parameters":[{"in":"path","name":"slug","schema":{"type":"string"},"required":true}],"summary":"Save a server to a profile","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"slug":{"type":"string","minLength":1},"serverQualifiedName":{"type":"string","minLength":1},"mcpUrl":{"type":"string","format":"uri"},"displayName":{"type":"string"},"configData":{},"oauthData":{"type":"object","properties":{"tokens":{"type":"object","properties":{"access_token":{"type":"string"},"id_token":{"type":"string"},"token_type":{"type":"string"},"expires_in":{"type":"number"},"scope":{"type":"string"},"refresh_token":{"type":"string"}},"required":["access_token","token_type"]},"client":{"type":"object","properties":{"client_id":{"type":"string"},"client_secret":{"type":"string"},"client_id_issued_at":{"type":"number"},"client_secret_expires_at":{"type":"number"}},"required":["client_id"]}},"required":["tokens","client"]}}}}}}}},"/profiles/{slug}/servers/{configSlug}":{"get":{"responses":{"200":{"description":"Server details","content":{"application/json":{"schema":{"type":"object","properties":{"slug":{"type":"string"},"displayName":{"type":"string"},"mcpUrl":{"type":"string"},"description":{"type":["string","null"]}},"required":["slug","displayName","mcpUrl","description"]}}}}},"operationId":"getProfilesBySlugServersByConfigSlug","parameters":[{"in":"path","name":"slug","schema":{"type":"string"},"required":true},{"in":"path","name":"configSlug","schema":{"type":"string"},"required":true}],"summary":"Get a profile server"},"delete":{"responses":{"204":{"description":"Deleted"}},"operationId":"deleteProfilesBySlugServersByConfigSlug","parameters":[{"in":"path","name":"slug","schema":{"type":"string"},"required":true},{"in":"path","name":"configSlug","schema":{"type":"string"},"required":true}],"summary":"Delete a profile server"}}},"components":{"schemas":{"Health":{"type":"object","properties":{"status":{"type":"string"},"timestamp":{"type":"string"}},"required":["status","timestamp"]},"ServersListResponse":{"type":"object","properties":{"servers":{"type":"array","items":{"type":"object","properties":{"qualifiedName":{"type":"string","example":"smithery/hello-world"},"displayName":{"type":["string","null"],"example":"Hello World"},"description":{"type":["string","null"],"example":"A simple hello world server"},"iconUrl":{"type":["string","null"],"example":"https://example.com/icon.png"},"verified":{"type":"boolean","example":true},"useCount":{"type":"number","example":42},"remote":{"type":"boolean","example":true},"createdAt":{"type":"string"},"homepage":{"type":"string","example":"https://smithery.ai/server/smithery/hello-world"}},"required":["qualifiedName","displayName","description","iconUrl","verified","useCount","remote","createdAt","homepage"]}},"pagination":{"type":"object","properties":{"currentPage":{"type":"number","example":1},"pageSize":{"type":"number","example":10},"totalPages":{"type":"number","example":5},"totalCount":{"type":"number","example":42}},"required":["currentPage","pageSize","totalPages","totalCount"]}},"required":["servers","pagination"]},"Error":{"type":"object","properties":{"error":{"type":"string","example":"Server not found"}},"required":["error"]},"Server":{"type":"object","properties":{"qualifiedName":{"type":"string","example":"smithery/hello-world"},"displayName":{"type":"string","example":"Hello World"},"description":{"type":"string","example":"A simple hello world server"},"iconUrl":{"type":["string","null"],"example":"https://example.com/icon.png"},"remote":{"type":"boolean","example":true},"deploymentUrl":{"type":["string","null"],"example":"https://api.example.com"},"connections":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","const":"stdio"},"bundleUrl":{"type":"string"},"runtime":{"type":"string"},"stdioFunction":{"type":"string"},"configSchema":{}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","const":"http"},"deploymentUrl":{"type":"string"},"configSchema":{}},"required":["type","deploymentUrl"]}]}},"security":{"type":["object","null"],"properties":{"scanPassed":{"type":"boolean","example":true}},"required":["scanPassed"]},"tools":{"type":["array","null"],"items":{"type":"object","properties":{"name":{"type":"string","example":"get_weather"},"description":{"type":["string","null"],"example":"Get current weather"},"inputSchema":{"type":"object","properties":{"type":{"type":"string","const":"object"},"properties":{"type":"object"}},"required":["type"]}},"required":["name","description","inputSchema"]}}},"required":["qualifiedName","displayName","description","iconUrl","remote","deploymentUrl","connections","security","tools"]},"ConfigResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true},"result":{"type":"object","properties":{"command":{"type":"string","example":"npx"},"args":{"type":"array","items":{"type":"string"},"example":["@smithery/hello-world","--config","{}"]},"env":{"type":"object","additionalProperties":{"type":"string"},"example":{"NODE_ENV":"production"}}},"required":["command","args"]}},"required":["success","result"]},"ConfigRequest":{"type":"object","properties":{"userId":{"type":"string","description":"User performing the request"},"connectionType":{"type":"string","enum":["stdio"],"description":"The type of server to instantiate","example":"stdio"},"config":{"type":"object","additionalProperties":{},"description":"The configuration for the server","example":{"host":"localhost","port":8080}}},"required":["connectionType","config"]},"ConfigValidationResponse":{"type":"object","properties":{"isComplete":{"type":"boolean","example":false},"hasExistingConfig":{"type":"boolean","example":true},"missingFields":{"type":"array","items":{"type":"string"},"example":["exaApiKey","enabledTools"]},"fieldSchemas":{"type":"object","additionalProperties":{},"example":{"exaApiKey":{"type":"string","description":"API key"}}}},"required":["isComplete","hasExistingConfig","missingFields","fieldSchemas"]},"GetUserConfigResponse":{"type":"object","properties":{"config":{"type":"object","additionalProperties":{},"description":"The saved user configuration","example":{"apiKey":"xxx","debug":false}}},"required":["config"]},"SaveUserConfigResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string","example":"Configuration saved successfully"}},"required":["success"]},"SaveUserConfigRequest":{"type":"object","properties":{"config":{"type":"object","additionalProperties":{},"description":"The user configuration to save","example":{"apiKey":"xxx","debug":false}}},"required":["config"]},"UplinkTokenResponse":{"type":"object","properties":{"authtoken":{"type":"string","example":"2abcdefg_1a2b3c4d5e6f7g8h9i0j"},"domain":{"type":"string","example":"ngrok.smithery.ai"}},"required":["authtoken","domain"]},"UplinkError":{"type":"object","properties":{"error":{"type":"string","example":"Failed to create tunnel token"}},"required":["error"]},"ProfilesResponse":{"type":"object","properties":{"profiles":{"type":"array","items":{"type":"object","properties":{"slug":{"type":"string"},"displayName":{"type":"string"},"description":{"type":["string","null"]},"type":{"type":["string","null"]}},"required":["slug","displayName","description","type"]}},"pagination":{"type":"object","properties":{"page":{"type":"number"},"pageSize":{"type":"number"},"totalCount":{"type":"number"},"totalPages":{"type":"number"}},"required":["page","pageSize","totalCount","totalPages"]}},"required":["profiles","pagination"]},"ProfileServersResponse":{"type":"object","properties":{"servers":{"type":"array","items":{"type":"object","properties":{"slug":{"type":"string"},"displayName":{"type":"string"},"mcpUrl":{"type":"string"},"description":{"type":["string","null"]}},"required":["slug","displayName","mcpUrl","description"]}},"pagination":{"type":"object","properties":{"page":{"type":"number"},"pageSize":{"type":"number"},"totalCount":{"type":"number"},"totalPages":{"type":"number"}},"required":["page","pageSize","totalCount","totalPages"]}},"required":["servers","pagination"]}}}}